/* ------ Brand Info ------ */
.footer-brand-info {
    background-color: var(--light-blue);
    padding: 4rem;
    display: grid;
    grid-template-areas: "logo list contact";
    column-gap: 7rem;
}

.footer-brand-info__image-col {
    grid-area: logo;
    justify-self: baseline;
}

.footer-brand-info__about-list-col {
    grid-area: list;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1.5rem;
}

.list-item a {
    color: #000000;
}

.list-item a:hover {
    color: var(--main-blue);
}

.footer-brand-info__contact-col {
    grid-area: contact;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.5rem;
}

.footer-brand-info__contact-col h3 {
    font-weight: bold;
}

.contact-col__name-input {
    color: var(--gray);
    width: 35rem;
    height: 3.5rem;
    border-radius: 5px;

    position: relative;
}

.contact-col__name-textarea {
    background-color: var(--white);
    color: var(--gray);
    width: 35rem;
    height: 5.125rem;
    border-radius: 5px;

    position: relative;
}

.contact-col__name-input input,
.contact-col__name-textarea textarea {
    width: calc(100% - 2rem);
    height: calc(100% - 3rem);
    font-size: 1rem;
    padding: 1.5rem 1rem;
    border-radius: 5px;
    border: none;
    border-bottom: 1px solid var(--gray-2);
    outline: none;
}

.contact-col__name-input label,
.contact-col__name-textarea label {
    position: absolute;
    top: 8px;
    left: 5px;
}

.contact-col__name-input input:focus~label,
.contact-col__name-input input:valid~label,
.contact-col__name-textarea textarea:focus~label,
.contact-col__name-textarea textarea:valid~label {
    font-size: .75rem;
    top: 5px;
}

/* ------ Creator ------ */
.footer-creator-info {
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.footer-creator-info a {
    color: var(--black);
}



@media (max-width: 1150px) {
    .footer-brand-info {
        grid-template-areas: 
        "logo contact"
        "list contact";
        row-gap: 1rem;
        padding: 2rem;
    }

    .contact-col__name-input,
    .contact-col__name-textarea {
        width: 27.125rem;
    }
}

@media (max-width: 700px) {
    .footer-brand-info {
        grid-template-areas: 
        "logo" 
        "list"
        "contact";
        padding: 1rem;
    }
    .footer-brand-info__image-col {
        justify-self: center;
    }
    .footer-brand-info__about-list-col {
        align-items: center;
    }

    .contact-col__name-input,
    .contact-col__name-textarea {
        width: 90%;
    }
}